body {
    display: flex;
    height: 100vh;
    background-color: white;

}
.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}
.image-container img{
    width: 600px;
}

.signup-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 100px;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}



h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
    color: var(--pink);
}

.form-container form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.input-container label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-container input, select {
    width: 100%;
    padding: 15px;
}
select{
    cursor: pointer;
}

.id-role-grp{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: 16px;
}
.id-role-grp > div{
    width: 100%;
}

.register-btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: 2px solid black;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.register-btn:hover {
    background: transparent;
    color: black;
}

.form-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-footer .go-back-btn{
    display: flex;
    align-items: center;
    gap: 4px;
}

.login-link {
    text-align: center;
    margin-top: 15px;
}

.login-link a {
    color: var(--pink);
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .image-container {
        height: 40vh;
        flex: none;
    }

    .signup-form {
        flex: none;
        height: 60vh;
    }
}