@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --navy-blue: #2c3e50;
    --pink: #CA254C;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: "Outfit", serif;
    
}
main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header .logo-container{
    display: flex;
    align-items: center;
    gap: 4px;
}
.logo-container img{
    width: 35px;
}
header h1{
    color: var(--pink);
}

a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}

button{
    outline: none;
    font-family: "Outfit", serif;
    padding: 8px;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
    
}

input, select, textarea{
    border: none;
    outline: none;
    font-family: "Outfit", serif;
    padding:10px;
    font-size: 14px;
    background-color: rgb(233, 233, 233);
}

textarea{
    resize: none;
}

.dashboard-titles{
    font-size: 30px;
}

